/* RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

a{color: rgba(22,187,235,255);display: inline-block;text-decoration: none;margin: 5px 0 ;}
p{font-size: x-large;font-family: cursive;}
.container{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    
}

header h1{
    color: rgba(229,49,112,255);
    font-size: 50px;
    margin-bottom: 3%;
    font-family: fantasy;
}
main{
    margin-top: 4rem;
}
.third-columns {
    width: 100%;
}

.column{
    width: 31.33%;
    margin-left: 2%;
    margin-bottom: 2%;
    background-color: rgba(15,14,23,255);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.float-left{
    float: left;
}

img{
    width: 30%;
}

.description h2{
    font-family: Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 20px;
    margin: 5px 0;
}
.description h3{
    color: rgba(187,196,199,255);
    font-size: 16px;
    margin: 7px 0 0;
    font-weight: bolder;
}
.description{
    padding: 2% 12px;
    width: 70%;
    height: 89.65px;
    text-align: left;
    
}

.box-shadow{
    box-shadow: 10px 10px 5px #acaaaa;
}